This notebook is just a place where I test different things related to the differents datasource

In [1]:
# We import the necessary libraries
import pandas as pd
import numpy as np
import sys
import os
chemin_dev = os.path.abspath(os.path.join(os.getcwd(), '../..'))
if chemin_dev not in sys.path:
    sys.path.append(chemin_dev)

In [2]:
df_options= pd.read_csv('../../data/options/dolt_hub_1million.csv')

In [3]:
df_options.head()

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho
0,2019-05-10,A,2019-05-17,65.0,Call,10.10,13.35,0.5636,0.9873,0.0055,-0.0185,0.0035,0.0122
1,2019-05-10,A,2019-05-17,65.0,Put,0.01,0.07,0.5636,-0.0127,0.0055,-0.0141,0.0035,-0.0002
2,2019-05-10,A,2019-05-17,70.0,Call,6.60,7.70,0.3212,0.9863,0.0102,-0.0133,0.0037,0.0132
3,2019-05-10,A,2019-05-17,70.0,Put,0.21,0.24,0.5252,-0.0850,0.0278,-0.0619,0.0166,-0.0013
4,2019-05-10,A,2019-05-17,72.5,Call,5.05,5.25,0.4973,0.8252,0.0486,-0.1018,0.0275,0.0112

In [4]:
df_options.shape

(1000000, 13)

In [5]:
len(df_options['act_symbol'].unique())

1678

In [6]:
df_options['date'].min(), df_options['date'].max()

('2019-05-10', '2020-02-21')

In [5]:
df_options['price'] = (df_options['bid'] + df_options['ask']) / 2

In [6]:
df_options.head()

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho,price
0,2019-05-10,A,2019-05-17,65.0,Call,10.10,13.35,0.5636,0.9873,0.0055,-0.0185,0.0035,0.0122,11.725
1,2019-05-10,A,2019-05-17,65.0,Put,0.01,0.07,0.5636,-0.0127,0.0055,-0.0141,0.0035,-0.0002,0.040
2,2019-05-10,A,2019-05-17,70.0,Call,6.60,7.70,0.3212,0.9863,0.0102,-0.0133,0.0037,0.0132,7.150
3,2019-05-10,A,2019-05-17,70.0,Put,0.21,0.24,0.5252,-0.0850,0.0278,-0.0619,0.0166,-0.0013,0.225
4,2019-05-10,A,2019-05-17,72.5,Call,5.05,5.25,0.4973,0.8252,0.0486,-0.1018,0.0275,0.0112,5.150

In [10]:
print(df_options['date'].min())
df_options['date'].max()

2019-05-10

'2020-02-21'

In [7]:
df_stock = pd.read_csv('../../data/options/stock_prices_2.csv')

In [8]:
df_stock.info

<bound method DataFrame.info of                date act_symbol   open   high    low  close     volume
0        2019-05-10          A  76.64  77.14  74.09  77.10  2850458.0
1        2019-05-10         AA  24.73  25.31  24.27  25.04  3550959.0
2        2019-05-10       AAAU  12.85  12.87  12.83  12.85    12571.0
3        2019-05-10       AABA  72.34  72.97  70.28  71.87  5860342.0
4        2019-05-10        AAC   1.89   1.98   1.70   1.73   200742.0
...             ...        ...    ...    ...    ...    ...        ...
1567248  2020-02-21        ZUO  16.01  16.01  15.40  15.63  1101994.0
1567249  2020-02-21        ZVO   2.01   2.04   1.69   1.90   286815.0
1567250  2020-02-21       ZYME  45.64  46.24  44.62  44.63   221744.0
1567251  2020-02-21       ZYNE   4.81   4.98   4.69   4.92   405676.0
1567252  2020-02-21       ZYXI  11.08  12.26  11.02  11.86   692467.0

[1567253 rows x 7 columns]>

In [13]:
len(df_stock['act_symbol'].unique())

8835

In [9]:
# We merge the two dataframes to have the stock price for each option corresponding to the underlying stock and the date
df_options = df_options.merge(df_stock[['date', 'act_symbol', 'open']], on=['date', 'act_symbol'], how='left')

In [10]:
df_options.head()

,date,act_symbol,expiration,strike,call_put,bid,ask,vol,delta,gamma,theta,vega,rho,price,open
0,2019-05-10,A,2019-05-17,65.0,Call,10.10,13.35,0.5636,0.9873,0.0055,-0.0185,0.0035,0.0122,11.725,76.64
1,2019-05-10,A,2019-05-17,65.0,Put,0.01,0.07,0.5636,-0.0127,0.0055,-0.0141,0.0035,-0.0002,0.040,76.64
2,2019-05-10,A,2019-05-17,70.0,Call,6.60,7.70,0.3212,0.9863,0.0102,-0.0133,0.0037,0.0132,7.150,76.64
3,2019-05-10,A,2019-05-17,70.0,Put,0.21,0.24,0.5252,-0.0850,0.0278,-0.0619,0.0166,-0.0013,0.225,76.64
4,2019-05-10,A,2019-05-17,72.5,Call,5.05,5.25,0.4973,0.8252,0.0486,-0.1018,0.0275,0.0112,5.150,76.64

In [11]:
df_options.rename(columns={'open': 'stock_price'}, inplace=True)

In [12]:
df_options['temps_to_maturity'] = (pd.to_datetime(df_options['expiration']) -  pd.to_datetime(df_options['date'])).dt.days / 365

In [13]:
df_options['stock_price'].isnull().sum()

54196

In [14]:
df_options.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 16 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   date               1000000 non-null  object
 1   act_symbol         1000000 non-null  object
 2   expiration         1000000 non-null  object
 3   strike             1000000 non-null  float64
 4   call_put           1000000 non-null  object
 5   bid                1000000 non-null  float64
 6   ask                1000000 non-null  float64
 7   vol                1000000 non-null  float64
 8   delta              1000000 non-null  float64
 9   gamma              1000000 non-null  float64
 10  theta              1000000 non-null  float64
 11  vega               1000000 non-null  float64
 12  rho                1000000 non-null  float64
 13  price              1000000 non-null  float64
 14  stock_price        945804 non-null   float64
 15  temps_to_maturity  1000000 non-null  float64
dtypes: float64(12), object(4)
memory usage: 122.1+ MB

In [15]:
df_r = pd.read_csv('../../data/options/daily_treasury_rates_2019_2020.csv')

In [16]:
df_r['Date'] = pd.to_datetime(df_r['Date'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [17]:
df_r.head()

,Date,1 Mo,2 Mo,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
0,2019-01-02,2.40,2.40,2.42,2.51,2.60,2.50,2.47,2.49,2.56,2.66,2.83,2.97
1,2020-01-02,1.53,1.55,1.54,1.57,1.56,1.58,1.59,1.67,1.79,1.88,2.19,2.33
2,2019-01-03,2.42,2.42,2.41,2.47,2.50,2.39,2.35,2.37,2.44,2.56,2.75,2.92
3,2020-01-03,1.52,1.55,1.52,1.55,1.55,1.53,1.54,1.59,1.71,1.80,2.11,2.26
4,2019-01-04,2.40,2.42,2.42,2.51,2.57,2.50,2.47,2.49,2.56,2.67,2.83,2.98